.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  .card {
    border: 1px solid;
    width: 15%;
    aspect-ratio: 1 / 1.25;
    cursor: pointer;

    .cardImageContainer {
      height: 70%;

      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      > img {
        min-width: 100%;
        min-height: 100%;
      }
    }

    .cardInfo {
      padding: 2% 3%;
      height: 30%;

      > h3 {
        color: var(--card-title-color);
        font-weight: bold;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > p {
        color: var(--card-description-color);
        font-size: 0.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1rem;
      }
    }
  }
}
