.cardsSection {
  margin: 2vh 2vw;

  .row {
    display: flex;
    flex-direction: row;
  }

  .sectionHeader {
    align-items: baseline;

    > h2 {
      margin-right: 0.5rem;
      font-weight: bold;
      color: var(--cards-section-title-text-color);
    }

    > p {
      font-weight: bold;
      color: var(--cards-count-text-color);
    }
  }

  > hr {
    margin: 4vh 0;
    opacity: 15%;
  }
}
