.cardsSection {
  margin: 2vh 2vw;

  .row {
    display: flex;
    flex-direction: row;
  }

  .sectionHeader {
    align-items: baseline;

    > h2 {
      margin-right: 0.5rem;
      font-weight: bold;
      color: var(--cards-section-title-text-color);
    }

    > p {
      font-weight: bold;
      color: var(--cards-count-text-color);
    }
  }

  .searchContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1vh 0 0;

    > input {
      width: 100%;
      padding: 1vh 1vw;
      font-weight: 500;
      color: var(--cards-search-input-text-color);
      border: 1px solid var(--cards-search-input-border-color);
      outline: none;
    }

    > button {
      margin-left: 2vw;
      width: 20%;
      font-weight: 500;
      color: var(--cards-search-text-color);
      background-color: var(--cards-search-bg-color);
      border: none;
      cursor: pointer;

      &:active {
        scale: 1.01;
        transition: 0.2s all ease-out;
      }
    }
  }

  > hr {
    margin: 4vh 0;
    opacity: 15%;
  }

  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    .card {
      border: 1px solid;
      width: 15%;
      aspect-ratio: 1 / 1.1;
      cursor: pointer;

      .cardImageContainer {
        height: 65%;
        border: 1px solid;

        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        > img {
          min-width: 100%;
          min-height: 100%;
        }
      }

      .cardInfo {
        padding: 2% 3%;

        > h3 {
          color: var(--card-title-color);
          font-weight: bold;
          font-size: 1rem;
        }

        > p {
          color: var(--card-description-color);
          font-size: 0.6rem;
        }
      }
    }
  }
}
